@import 'menu';
#header{
  height:rhythm($headerHeight);
  @include span($columnCountDefault of $columnCountDefault);
  background-color: rgba(102, 102, 255, 0.29);
  margin:0;
  padding:0;
}
.logoContainer{
  @include span(1 of $columnCountDefault);
  background-color: white;
  line-height:rhythm($headerHeight);
  vertical-align: middle;
  text-align: center;
  position: relative;
}

