.linkContainer{
  $w_menu:($columnCountDefault - 1);
  @include span($w_menu at 2 of $columnCountDefault);
  padding:0;
  display:table-row;
  list-style: none;
  height:rhythm($headerHeight);
  background-color: yellow;
  li
  {
    @include span(1 of $w_menu);
    line-height:rhythm($headerHeight);
    border-right: 1px solid #fff;
    vertical-align: middle;
    background-color: red;
    list-style-type: none;
    margin:0;
    padding:0;
    text-align: center;
    &:hover{
      cursor: pointer;
    }
  }
}
