@import "mixins";
@import "./CenterColumn";
@import "./LeftColumn";
@import "./RightColumn";
@import "./footer";
@import "./header";

#bodyContainer{
  $header:rhythm($headerHeight);
  $footer:rhythm($footerHeight);
  min-height:calc(100%  - #{$header} - #{$footer});
  height: inherit;
}
