//Compass rhythm
$base-line-height:24px !global;
$base-font-size: 22px !global;
$rhythm-unit:"rem" !global;
$rem-with-px-fallback: true !global;

//susy  grids default
$columnCountDefault:12;
$gutters:1/4;
$rightColumnSize:2;
$LeftColumnSize:2;
$CenterColumnSize:$columnCountDefault - $rightColumnSize - $LeftColumnSize;
$headerHeight:3;
$footerHeight:3;

