@import "compass";
@import "compass/reset";
@import "susy";
@import "config";
$susy: (
        flow: ltr,
        math: fluid,//static, fluid
        output: float,
        gutter-position: inside,//i(before | after | split | inside | inside-static )
        container: auto,
        container-position: center,
        columns: $columnCountDefault,
        gutters: $gutters,
        column-width: false,
        global-box-sizing: content-box,
        last-flow: to,
        debug: (
                image:show,
                color: rgba(#66f, .25),
                output: overlay,//overlay, background
                toggle: top right,
        ),
        use-custom: (
                background-image: true,
                background-options: false,
                box-sizing: true,
                clearfix: false,
                rem: true,
        )
);
