@import "mixins";
@include establish-baseline;
body{
  @include container(100%);
  background-color: rgba(255, 255, 255, 0.81);
  height:100%;
}
.containerPage{
  height:inherit;
}
#bodyHome{
  height: 100%;
}

@import '../Home/style/style';

